<div>
	<div class="main-container">
		<div class="ck-editor-container">
			<h1>Standard mode</h1>
			<ckeditor [editor]="Editor" [config]="standardConfig" [(ngModel)]="data" *ngIf="isLayoutReady" />
		</div>
		<div class="ck-editor-container">
			<h1>Restricted mode</h1>
			<ckeditor [editor]="Editor" [config]="restrictedConfig" [(ngModel)]="data" (ready)="onRestrictedEditorReady($event)" (change)="onChange($event)" *ngIf="isLayoutReady" />
		</div>
		<div class="ck-editor-container">
			<h1>ReadOnly mode</h1>
			<ckeditor [editor]="Editor" [config]="baseConfig" [(ngModel)]="data" *ngIf="isLayoutReady" [disabled]="true" />
		</div>
	</div>
</div>
