@import 'ckeditor5/ckeditor5.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	height: 90vh;
	font-family: 'Lato';
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.ck-editor-container {
	min-width: 500px;
	max-width: 500px;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 700px;
    overflow-y: auto;
}